

/* Class selectors */

.header {
    background-color: gray;
    
   
}

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header nav {
    text-align: right;
}

.header nav ul {
    display: inline-block;
    margin-bottom: auto;
    display: flex;
    justify-content:center;
    
}

.header nav ul li {
    display: inline-block;
    margin-left: 35px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    
}

.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/IMG_2018.jpg");
    background-size: cover;
    background-position: center;
    border: black solid 2px;
    border-radius: 10px;
    
}

.about-me {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Courier New', Courier, monospace;

}

.portfolio {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.cards {
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly;
    
    
}

.card {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    border-radius: 8px; 
    transition: all 0.5s ease-in-out;
   
}

.my-picture {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
}

  
  .card:hover,
  .card:hover .card {
    box-shadow: inset 0px 0px 8px red, 0 0 15px red;
  }

  .my-picture:hover,
  .my-picture:hover .my-picture {
      box-shadow: inset 0px 0px 20px red, 0 0 15px red;
}












/* Element Selectors */

footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    float: right;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow:5px 5px 0px 0px cornflowerblue;
}

body {
    background-color:gray;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
      
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }