/* Class selectors */

.header {
    background-color: gray;
    
   
}

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header nav {
    text-align: right;
}

.header nav ul {
    display: inline-block;
    margin-bottom: auto;
    display: flex;
    justify-content:center;
    
}

.header nav ul li {
    display: inline-block;
    margin-left: 35px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    
}

.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/IMG_2018.jpg");
    background-size: cover;
    background-position: center;
    border: black solid 2px;
    border-radius: 10px;
    
}

.about-me {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;

}

.portfolio {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}










/* Element Selectors */

footer{
    text-align: center;
}

img {
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow:5px 5px 0px 0px cornflowerblue;
}