

/* Class selectors */

.header {
    background-color: gray;
    
   
}

.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header nav {
    text-align: right;
}

.header nav ul {
    display: inline-block;
    margin-bottom: auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}

.header nav ul li {
    display: inline-block;
    margin-left: 35px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    
}

.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/IMG_2018.jpg");
    background-size: cover;
    background-position: center;
    border: black solid 2px;
    border-radius: 10px;
    
}

.about-me {
    text-align: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Courier New', Courier, monospace;

}

.portfolio {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.cards {
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly;
    
    
}

.card {
    display: flex;
    min-height: 100%;
    border-radius: 8px; 
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
   
}

.my-picture {
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
}

  
.card:hover,
.card:hover .card {
    box-shadow: inset 0px 0px 8px red, 0 0 15px red;
    opacity: 1.0;
  }

.my-picture:hover,
.my-picture:hover .my-picture {
      box-shadow: inset 0px 0px 20px red, 0 0 15px red;
}

.application {
    width: 130px;
    height: 195px;
    background: url("./assets/images/IMG_2019.jpg") no-repeat;
    display: inline-block;
    
}
.application:hover {
    background-image:url("./assets/images/Application.jpg") no-repeat;
}

.names {
    display: flex;
    justify-content:space-around;
    margin-right: 20px;
    flex-wrap: wrap;
    
}


/* Element Selectors */

footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
}

img {
    float: right;
    border: solid black 3px;
    border-radius: 5px;
    box-shadow:5px 5px 0px 0px cornflowerblue;
}

body{
    background-color:gray;
}

h3 {
    flex-wrap: wrap;
    position: absolute;
    margin-top: 0px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
}

/* Media Query */

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      flex-direction: column;
      

    }
  }

  
  